<!--<script src="bower_components/gmaps/gmaps.js"></script>-->
<style type="text/css">
    .angular-google-map-container { height: 400px; }
</style>
<ui-gmap-google-map center='map.center' refresh='true' zoom='map.zoom'>
    <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id"></ui-gmap-marker>
    <ui-gmap-marker coords="marker2.coords" options="marker2.options" events="marker2.events" idkey="marker2.id"></ui-gmap-marker>
    <ui-gmap-polyline ng-repeat="p in polylines" path="p.path" stroke="p.stroke" visible='p.visible'
                  geodesic='p.geodesic' fit="false" editable="p.editable" draggable="p.draggable" icons='p.icons'></ui-gmap-polyline>
    </ui-gmap-google-map>   
</ui-gmap-google-map>
<input type="text" style="width: 520px;margin-top: 100px" value="http://localhost:8000/app/#/maps/{{map.center.latitude +'/'+ map.center.longitude + '/' + map.zoom}}">
